################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/Updatedge.net/v16
/src/Updatedge.net/bin/Debug
/src/Updatedge.net/obj
/src/Updatedge.net.Tests/bin/Debug/netcoreapp3.1
/src/Updatedge.net.Tests/obj
/src/.vs/Updatedge.net/DesignTimeBuild
/src/Udatedge.Common/bin/Debug/netstandard2.0
/src/Udatedge.Common/obj
*.user
/src/Updatedge.Common/obj
/src/Updatedge.Common/bin/Debug/netstandard2.0
/src/Updatedge.net.Tests/bin/Release/netcoreapp3.1
/src/Updatedge.net/bin/Release
/src/Updatedge.Common/bin/Release/netstandard2.0
/src/.vs/Updatedge.net/v17
/src/.vs/Updatedge.net
