################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/Updatedge.net/v16
/src/Updatedge.net/bin/Debug
/src/Updatedge.net/obj
